{% extends "layout.html" %}

{% block content %}
    <div class="container py-3">
        <div class="row justify-content-center">
            <h1>Bem-vindo</h1>
        </div>

        <div class="row py-2">
            <div class="col-md-9 h2">
                Tabela de posts
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('new_post') }}" class="btn btn-lg btn-outline-success">Novo post</a>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- {% for post in posts %}
                        {% if post.author == current_user %} -->
                            <tr>
                                <td></td>
                                <td>
                                    <!-- <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-outline-primary">Editar</a>
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                   
                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Deletar Post?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                                                            <input class="btn btn-danger" type="submit" value="Delete">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                            
                                    <!-- <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-outline-danger">Deletar</a> -->
                                </td>
                            </tr>
                        <!-- {% endif %}

                    {% endfor %} -->
                </tbody>
            </table>                                            
        </div>    
    </div>

    <script type="text/javascript">
        function authUser() {
            $.ajax({
                url: '/getPosts',
                type: 'GET',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>


{% endblock content %}
